$dark__blue: #03045e;
$light__blue: #0096c7;

.left {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: black;
    height: 100%;
    width: 100%;

    .instructions {
        max-width: 12rem;
        color: white;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 5px;
            left: 0;
            top: 0;
            background-color: $light__blue;
        }
    }

    .login__button {
        background-color: $light__blue;
        width: max-content;
        padding: 13px 10px;
        font-size: larger;
        font-weight: bold;
    }
}

.right {
    background-color: black;
    width: 100%;
    height: 100%;
}
