$dark__blue: #03045e;
$light__blue: #0096c7;

.nft {
    height: 100%;
    width: 100%;
    &__heading {
        color: white;
        text-align: center;
        margin-top: 5rem;
    }
    .image__gallery {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        height: 20rem;
        width: 20rem;
        background-color: $light__blue;
        border-radius: 5px;
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        align-content: flex-start;
        column-gap: 0;
        outline: 1px solid black;

        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;

        h3 {
            position: absolute;
            height: 100%;
            width: 100%;
            text-align: center;
            line-height: 20rem;
        }
        .span {
            display: inline-block;
            height: 5rem;
            width: 5rem;
            position: relative;
            margin-top: 20px;
            justify-self: center;
            z-index: 1;
            img {
                height: 5rem;
                width: 5rem;
                object-fit: cover;
                border-radius: 5px;
                box-shadow: 0 5px 5px 1px rgba(black, 0.5);
            }

            &:hover.span::after {
                position: absolute;
                left: 0;
                top: 0;
                content: "Open";
                text-align: center;
                line-height: 5rem;
                background-color: rgba(0, 0, 0, 0.425);
                border-radius: 5px;
                color: white;
                height: 100%;
                width: 100%;
                z-index: 2;
            }
        }
    }

    .image__gallery__loading {
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            background-color: rgba(0, 0, 0, 0.425);
            height: 100%;
            width: 100%;

            z-index: 2;
        }
        &::before {
            position: absolute;
            left: 42%;
            top: 42%;
            content: "";
            border: rgba(255, 255, 255, 0.342) solid 7px;
            border-left: 7px solid white;

            height: 50px;
            width: 50px;
            border-radius: 50%;
            z-index: 3;
            animation: rotate infinite forwards linear 500ms;
        }
    }
}
