.file {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.file .text__file__holder {
  margin: auto;
  margin-bottom: 3rem;
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
}

.file .text__file__holder .text {
  margin-bottom: 10px;
  font-size: 18px;
  color: white;
  width: 12rem;
  padding: 15px;
}

.file .text__file__holder .text h2 {
  color: white;
  margin-bottom: 5px;
  font-weight: normal;
  letter-spacing: 1px;
}

.file .text__file__holder .text p {
  margin-top: 10px;
  line-height: 25px;
}

.file .text__file__holder .file__holder {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file .text__file__holder .file__holder label {
  font-size: 1rem;
  display: block;
  color: white;
  background-color: #03045e;
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 4px;
  -webkit-transition: 100ms all;
  transition: 100ms all;
  cursor: pointer;
}

.file .text__file__holder .file__holder label:hover {
  color: #0096c7;
}

.file .text__file__holder .file__holder #files {
  display: none;
}

.file .text__file__holder .file__holder textarea,
.file .text__file__holder .file__holder input {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
  width: 10rem;
  max-width: 10rem;
  margin: 5px;
  outline: none;
}

.file .text__file__holder .file__holder textarea:focus,
.file .text__file__holder .file__holder input:focus {
  outline: 1px solid black;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.file .text__file__holder .file__holder input {
  height: 30px;
}

.file .text__file__holder .file__holder button {
  margin-top: 5px;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  color: white;
  background-color: black;
  height: 2.5rem;
  width: 7rem;
  text-align: center;
  line-height: 2.5rem;
  border: none;
  border-radius: 4px;
  -webkit-transition: 100ms all;
  transition: 100ms all;
}

.file .text__file__holder .file__holder button:hover {
  color: #0096c7;
}

.file .text__file__holder .file__holder .text__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

.file .image__holder {
  margin: auto;
  margin-bottom: 8rem;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.file .image__holder img {
  background-color: #0096c7;
  outline: 5px solid black;
  border-radius: 5px;
  height: 12rem;
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.file .image--loader::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
  width: 100%;
  z-index: 2;
}

.file .image--loader::before {
  position: absolute;
  left: 42%;
  top: 42%;
  content: "";
  border: rgba(255, 255, 255, 0.342) solid 7px;
  border-left: 7px solid white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 3;
  -webkit-animation: rotate infinite forwards linear 500ms;
          animation: rotate infinite forwards linear 500ms;
}

.file .image__hover:hover.image__hover::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "click here to see your NFT";
  font-size: large;
  text-align: center;
  line-height: 200px;
  background-color: rgba(0, 0, 0, 0.425);
  height: 100%;
  width: 100%;
  z-index: 2;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=fileUpload.css.map */