$dark__blue: #03045e;
$light__blue: #0096c7;

.file {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

    .text__file__holder {
        margin: auto;
        margin-bottom: 8rem;
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(black, 0.4);
        padding: 20px;
        border-radius: 5px;
        .text {
            margin-bottom: 10px;
            h2 {
                color: white;
                margin-bottom: 5px;
                font-weight: normal;
                letter-spacing: 1px;
            }
            p {
                margin-top: 10px;
                line-height: 25px;
            }
            font-size: 18px;
            color: white;
            width: 12rem;
            padding: 15px;
        }

        .file__holder {
            width: max-content;
            label {
                font-size: 1rem;
                display: block;
                color: white;
                background-color: $dark__blue;
                height: 2.5rem;
                width: 7rem;
                text-align: center;
                line-height: 2.5rem;
                border-radius: 4px;
                transition: 100ms all;
                cursor: pointer;
                &:hover {
                    color: $light__blue;
                }
            }
            input {
                display: none;
            }
            button {
                margin-top: 5px;
                cursor: pointer;
                font-family: Georgia, "Times New Roman", Times, serif;
                font-size: 1rem;
                color: white;
                background-color: black;
                height: 2.5rem;
                width: 7rem;
                text-align: center;
                line-height: 2.5rem;
                border: none;
                border-radius: 4px;
                transition: 100ms all;
                &:hover {
                    color: $light__blue;
                }
            }
        }
    }

    .image__holder {
        margin: auto;
        margin-bottom: 8rem;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: white;
        position: relative;
        transition: all 1s;
        img {
            background-color: $light__blue;
            outline: 5px solid black;
            border-radius: 5px;
            height: 12rem;
            width: 12rem;
            object-fit: cover;
        }
    }
    .image--loader {
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            background-color: rgba(0, 0, 0, 0.425);
            height: 100%;
            width: 100%;

            z-index: 2;
        }
        &::before {
            position: absolute;
            left: 42%;
            top: 42%;
            content: "";
            border: rgba(255, 255, 255, 0.342) solid 7px;
            border-left: 7px solid white;

            height: 50px;
            width: 50px;
            border-radius: 50%;
            z-index: 3;
            animation: rotate infinite forwards linear 500ms;
        }
    }

    .image__hover {
        &:hover.image__hover::after {
            position: absolute;
            left: 0;
            top: 0;
            content: "click here to see your NFT";
            font-size: large;
            text-align: center;
            line-height: 200px;
            background-color: rgba(0, 0, 0, 0.425);
            height: 100%;
            width: 100%;

            z-index: 2;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
