$dark__blue: #03045e;
$light__blue: #0096c7;

.navigation {
    height: 5rem;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    h1 {
        order: 2;
        color: white;
        font-weight: lighter;
    }
    .logo {
        order: 1;
        height: 2rem;
        width: 2rem;
        background-image: url("../images/logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.select_menu {
    height: max-content;
    width: max-content;
    position: fixed;
    top: 4%;
    right: 1%;
    z-index: 5;
    .css-b62m3t-container {
        width: 7.5rem;
        top: 0;
        right: 0;
    }
}
